---
import Layout from "../layouts/Layout.astro";

const title = "Página no encontrada";
const description = "Lo sentimos, la página que buscas no existe o ha sido movida.";
---

<Layout title={title} description={description}>
  <h1>{title}</h1>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-top: 50px;
  }
</style>
