---
import Layout from "../layouts/Layout.astro";

const title = "Página no encontrada";
---

<Layout title={title}>
  <h1>{title}</h1>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
  }
</style>
